*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  min-width: 567px;
  width: 100%;
  padding: 2rem;
  background-color: aqua;
}

.table {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px;
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 1.2rem;
}

caption {
  padding: 10px;
  caption-side: bottom;
}

thead > tr > th {
  position: relative;
}

thead > tr > th,
thead > tr > th > div {
  text-align: left;
  text-transform: capitalize;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
tr:hover {
  background-color: grey;
  color: white;
}

td,
th {
  padding: 8px;
}

thead,
tfoot {
  background-color: #3f87a6;
  color: #fff;
}

tbody {
  background-color: #e4f0f5;
}

.countries-table {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -0%);
}

.sortable {
  cursor: pointer;
  background-color: #673ab7;
}
.sortable:hover {
  background-color: #673ab7;
}

.row-data-center {
  text-align: center;
}

#paginationActionContainer {
  text-align: right;
  max-width: 1140px;
  margin: 0px auto;
  width: 2;
}

#buttonPrev,
#buttonNext {
  height: 24px;
  width: 24px;
  cursor: pointer;
}
#buttonPrev.cursor-not-allowed,
#buttonNext.cursor-not-allowed {
  cursor: not-allowed;
}

.data-per-page {
  font-size: 1.6rem;
  margin: 0 8px;
}

.text-pages {
  font-size: 1.6rem;
  margin: 0 8px;
}

.sorted-ascend,
.sorted-descend {
  padding-right: 32px;
  word-wrap: break-word;
}

.sorted-ascend:after,
.sorted-descend:after {
  content: "";
  height: 16;
  width: 16;
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translate(-0%, -50%);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  opacity: 1;
}

.sorted-descend:after {
  content: "desc";
}

.sorted-ascend:after {
  content: "asc";
}
